./tokenViejo
.xml
tokenViejo/tra.xml
tokenViejo/ta.xml
xml_enviado.xml
afip/__pycache__/config.cpython-310.pyc
afip/__pycache__/wsaa.cpython-310.pyc
afip/__pycache__/wsfe.cpython-310.pyc
tokenViejo/tra.cms
__pycache__ 
pychache
afip/__pycache__